<html>
	<head>
		{% if title %}
		<title>{{ title }} - Microblog</title>
		{% else %}
		<title>Welcome to Microblog</title>
		{% endif %}
	</head>
	<body>
		<nav>
			Microblog: 
			<a href="{{ url_for('index') }}">Home</a>
			<!-- Display a login if the user is not logged in (anonymous), else display logout-->
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
			<a href="{{ url_for('explore') }}">Explore</a>
			<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</nav>
		<hr>
		<!-- This will be used for the flash messages that have been added to the login function-->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>

